@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root{
    --main-color: #6a7d74;
    --pink-color: #A29199;
    --text-color: #e3e7e5;
    --title-color:  #3F4B45;
    --container-color:  #81768B;
    --navhover-color: #81B29A; 
    --leftcol-color: #99ffcc;
    --pasterblue-color: #99ffff;

}

body{
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    background-image: linear-gradient(to top, #3d3a40, #3b3941, #383842, #353744, #303645, #343d4c, #374353, #3b4a5a, #4a5a69, #596b79, #697c89, #7a8d99);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #283646;
    text-align: center;
    margin: 0 10% ;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
    
}
header{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    /* font-weight: 500; */
    /* font-size: 16px; */
    color: #ecf0f1;
    text-decoration: none;
    margin: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nav_links{
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_links>a{
    /* flex: 3 1 0; */
    padding: 0px 20px;
    text-decoration: none;
    font-size: large;
    /* font-weight: 500; */
    color: var(--text-color);
    display: inline-block;
    padding: 0px 20px;

}
.nav_links a:hover {
    color: var(--navhover-color);
}

#top{
    /* text-align: center; */
}
#middle{
    display: flex;
    /* justify-content: center; */
    width: 100%;
}
.left-col-container{
    /* background-color: ; */
    display: flex;
    flex-direction: column;
    width: 25em;
    color: var(--leftcol-color);
    font-size: 1.2em;
    
}
.left-data{
    /* border: 1px solid; */
    border-color: #A29199;
    /* this makes the divs expand fully into the left-col-container */
    flex-grow: 1;
    text-align: left;
    /* margin-top: 10px;  */
    /* margin-bottom: 10px; */
}
#map{
    height: 550px;
    /* float: right; */
    /* position: absolute;
    right: 0px;*/
    width: 100%; 
  
}

#bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



h1{
    color: var(--text-color)
}
h2{
    color: var(--pink-color);
}
.racedata-container{
    width: 100%;
}
#main-data-row1{
    display: flex;
    justify-content: center;

}
#total-distance, #elapsed-time{
    color: var(--pasterblue-color);
    width: 100%;
    font-size: large;
}
.miles-container{
    text-align: center;
    width: 100%;

}
.container-str{
    display: flex;
}
.blank{
    width: 25em;
}

#splits{
    /* width: 100%; */
    
}
.mile-split{
    /* text-align: center; */
    /* margin: 10px 0; */
    /* padding: 10px; */
    font-size: 20px;
}

span{   
    /* margin: 0px 5%; */  
}
.mile-split-data{
    font-size: 12;
    padding: 8px;
}
table, th,td{
    /* border: 1px solid; */
    
    
}
table{
    width: 100%;
    border-collapse: collapse;


}
/* margin left on the table */


@media screen and (max-width: 600px){
body{
    margin: 10px;
}


nav{
    margin: 0 ;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* align-items: stretch; */
    /* justify-content: center; */
}

.nav_links{
    padding: 0;
    display: flex;
    min-width: 0;
    /* justify-content: space-between; */
    
}
.nav_links>a{
    flex:1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
}


.left-col-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: medium;
}


#middle{
    display: flex;
    flex-wrap: wrap;
}
.blank{
    display: none;
}
#map{
    height: 500px;
}

}